{% extends "admin/base.html" %}

{% block content %}

    {% for conversation in conversations %}
    <div class="row">
        <div class="col s12 submissionHeadline">
            <h5>{{ conversation.name }}</h5>
            <a style="font-size: 1rem" class="waves-effect waves-grey btn-flat" href="/admin/download?conversation={{ conversation.slug }}" download>
                <i class="material-icons left">system_update_alt</i>
                XLSX
            </a>
        </div>

        <!--
        <div class="input-field col s12">
            <input type="text" id="code{{ conversation.slug }}" class="embedCode" value="{% include "admin/sendToMessengerCode.html" with conversation=conversation %}">
        </div>
        -->

        <div class="col s12">
            {% if conversation.submissions.length > 0 %}
                <table class="submissionTable">

                    <thead>
                    <tr>
                        <th>Submitted</th>
                        <th>Sender ID</th>
                    {% for interaction in conversation.interactions %}
                        <th data-field="{{ interaction.fieldName }}">{{ interaction.fieldName }}</th>
                    {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for submission in conversation.submissions %}
                    <tr>
                        <th scope="row">{{ submission.created | date:"YYYY-MM-dd" }}</th>
                        <th scope="row">{{ submission.sender }}</th>
                        {% for value in submission.data %}
                        <td>{{value |truncatewords:4 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% if conversation.submissionCount > conversation.submissions.length %}
                    <tfoot>
                        <tr>
                            <th colspan="{{ conversation.interactions.length|add:'2' }}">Total: {{ conversation.submissionCount }} Submissions</th>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            {% else %}
                <em>No submission yet.</em>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if prev >= 0 %}
        <a class="waves-effect waves-light btn blue-grey lighten-4 grey-text text-darken-4" href="?page={{ prev }}"><i class="material-icons left">skip_previous</i>previous</a>
    {% endif %}
    {% if next > 0 %}
        <a class="waves-effect waves-light btn blue-grey lighten-4 grey-text text-darken-4" href="?page={{ next }}"><i class="material-icons right">skip_next</i>next</a>
    {% endif %}


{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {

    });
</script>
{% endblock %}
